<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% if (error) { %>
        <%= error %>
    <% } %>
    <% if (success) { %>
        <%= success %>
    <% } %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (locals.user) { %>
        <p>You are logged in as <%= locals.user.firstName %>.</p>
    <% } else { %>
        <p>You are not logged in.</p>
    <% } %>
</body>
</html>
