<% include ../../partials/head %>
<% include ../../partials/nav %>
<!-- Personal Tags fit better under /users then with the rest of /tags -->
<main class="container">
    <% include ../../partials/flashMessages %>
    <h1>Your Tags</h1>
    <p class="lead">
        Here is an overview of the Tags you subscribed to. Remove or readd them with just a click!
        <br />Your changes are saved automatically.
    </p>
    <p class="lead" style="padding-bottom: 3rem">
        Want more Tags? If you have a certain one in mind search for it!
    <br /> Or just <a href="/tags">browse them all</a>.
    </p>
    <div class="card-columns card-columns-tags" id="selectable-cards">
        <% tags.forEach(function(tag) { %>
        <%
            var dataTagSelected = false;
            activeUser.tags.forEach((t) => {
                if (t.equals(tag._id)) {
                    dataTagSelected = true;
                }
            });
        %>
        <div class="card selectable-card" data-tag-id="<%= tag._id %>">
            <div class="card-pattern card-pattern-<%= tag.patternClass %>">
                <div class="card-edit-menu">
                    <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog" aria-label="Settings"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <% if(tag.createdBy.equals(activeUser._id)) { %>
                            <a class="dropdown-item" href="/tags/<%= tag._id %>/update">Edit</a>
                        <% } else { %>
                            <a class="dropdown-item" href="#" onClick="removeTagFromCollection(event, '<%= tag._id %>')">Remove from your tags</a>
                        <% } %>
                    </div>
                </div>
            </div>
            <a class="card-link" href="/tags/<%= tag._id %>">
                <div class="card-body">
                    <h5><%= tag.name %></h5>
                    <small class="text-muted"><%= tag.description %></small>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
</main>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="modal-message" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div style="margin: 30px 0 10px 0">
                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-error" height="64" width="64" viewBox="0 0 90.27 90.27">
                        <defs>
                            <style>
                                .circle-2 {
                                    fill: #dc3545;
                                }
                                .x-single {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <circle class="circle-2" cx="45.14" cy="45.14" r="45.14"/>
                        <g class="x">
                            <rect class="x-single" x="21.77" y="43.49" width="46.74" height="3.36" transform="translate(-18.72 45.15) rotate(-45)"/>
                            <rect class="x-single" x="43.47" y="21.81" width="3.36" height="46.74" transform="translate(-18.72 45.16) rotate(-45)"/>
                        </g>
                    </svg>
                </div>
                <h5 id="modal-title">Error:</h5>
                <p id="modal-message" style="margin: 20px 0"></p>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/scripts %>
<script>
    //functions for tag behaviour; add, delete as toggle & server communication, error handling
    function requestDeleteTag(tagId, onSuccess, onError) {
        $.ajax({
            url: '/users/<%= activeUser._id %>/tags/' + tagId,
            method: 'DELETE',
            success: (data) => onSuccess(data)
        }).fail((data) => onError(data));
    }

    function showRequestSuccess(e, data) {
        $(e.target).parents('.card').remove();
    }

    function showRequestError(data) {
        var errorModal = $('#errorModal');
        errorModal.modal('show');
        $('#modal-title').text('Error ' + data.status);
        $('#modal-message').text(data.statusText);
    }

    function removeTagFromCollection(e, tagId) {
        e.preventDefault();
        requestDeleteTag(
            tagId,
            (data) => showRequestSuccess(e, data),
            (data) => showRequestError(data)
        );
    }
</script>
<% include ../../partials/footer %>
