<% include ../partials/head %>
<% include ../partials/nav %>
<div class="chat-container">
    <main class="container">
        <% include ../partials/flashMessages %>
        <h1><%= tag.name %></h1>
        <div class="lead">
            <%= tag.description %>
        </div>
        <div class="chat-history" id="chat-history">
            <% tag.messages.forEach(function (message) { %>
                <div class="message<%= message.user != null && activeUser._id.equals(message.user._id) ? ' message-active-user' : '' %>">
                    <% if (message.user != null && !activeUser._id.equals(message.user._id)) { %>
                        <div class="message-author">
                            <a href="/users/<%= message.user._id %>"><%= message.user.firstName + ' ' + message.user.lastName %></a>
                        </div>
                    <% } else if (message.user == null) { %>
                        <div class="message-author">
                            <i class="text-muted">User deleted</i>
                        </div>
                    <% } %>
                    <div class="message-content"><%= message.content %></div>
                    <div class="message-timestamp"><%= timeAgo(message.createdAt) %></div>
                </div>
            <% }) %>
        </div>
    </main>
</div>
<footer class="chat-footer">
    <form class="chat-form" id="chat-form">
        <input type="text" class="form-control" id="message-input" placeholder="Type your message here..." disabled/>
        <button type="submit" id="message-button" class="btn btn-primary" disabled>Send</button>
    </form>
</footer>
<% include ../partials/scripts %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=" crossorigin="anonymous"></script>
<script>
    const myUserId = '<%= activeUser._id %>';
    const tagId = '<%= tag._id %>';
    const socket = io.connect(":<%= process.env.PORT %>");

    const chatHistory = $('#chat-history');

    //prevent xss and other potential threats
    var escapeHTML = function (unsafe) {
        return unsafe.replace(/[&<"']/g, function(m) {
            switch (m) {
                case '&':
                    return '&amp;';
                case '<':
                    return '&lt;';
                case '"':
                    return '&quot;';
                default:
                    return '&#039;';
            }
        });
    };

    //prevent user from entering messages before connection is established
    function enableInputs() {
        $('#message-input').removeAttr('disabled');
        $('#message-button').removeAttr('disabled');
    }

    //chat message "render" function; see socketio event listener
    function buildAndShowMessageDiv(message) {
        var messageDiv = '<div class="message';
        if (message.user._id == myUserId) {
            messageDiv += ' message-active-user';
        }
        messageDiv += '">';
        if (message.user._id != myUserId) {
            messageDiv += `<div class="message-author"><a href="/users/${escapeHTML(message.user._id)}">${escapeHTML(message.user.firstName)} ${escapeHTML(message.user.lastName)}</a></div>`;
        }
        messageDiv += `<div class="message-content">${escapeHTML(message.content)}</div>`;
        messageDiv += `<div class="message-timestamp">${moment(message.createdAt).fromNow()}</div>`;
        messageDiv += '</div>';
        chatHistory.append(messageDiv);
    }

    //Socket IO event handling
    $('#chat-form').submit(function (e) {
        e.preventDefault();
        var userInput = $('#message-input').val();
        if (userInput.length <= 0) {
            return;
        }
        socket.emit('tag-message', {
            content: userInput,
            userId: myUserId
        });
        $('#message-input').val('');
    });


    socket.on('tag-message', function (data) {
        buildAndShowMessageDiv(data);
        window.scroll(0, document.documentElement.offsetHeight);
    });

    socket.on('server-message', function (msg) {
        chatHistory.append(`<div class="server-message">${escapeHTML(msg)}</div>`);
        window.scroll(0, document.documentElement.offsetHeight);
    });

    $(document).ready(function () {
        socket.emit('subscribe', {
            room: tagId
        });
        enableInputs();
    });
</script>
<% include ../partials/footer %>
