<% include ../partials/head %>
<% include ../partials/nav %>
<main class="container">
    <div class="card-columns" style="column-count: 5" >
        <% include ../partials/flashMessages %>
        <% users.forEach(function(profile) { %>
        <a href="/users/<%= profile._id %>">
            <div class="card">
                <img class="card-img-top" src="<%= profile.pictureUrl %>">
                <div class="card-body">

                    <h5 class="card-title">
                        <%= profile.firstName %> <%= profile.lastName %>
                        <% var now = new Date();
                        if(now.getDay() == profile.birthDate.getDay() && now.getMonth() == profile.birthDate.getMonth()){
                        %>
                        🎂
                        <% }; %>
                    </h5>

                    <h6 class="card-subtitle mb-2 text-muted"><%= profile.status %></h6>
                </div>
            </div>
        </a>
        <% }); %>
    </div>
</main>
<% include ../partials/scripts %>
<% include ../partials/footer %>

