<% include ../partials/head %>
<% include ../partials/nav %>
<main class="container">
    <div class="card-columns">
        <% users.forEach(function(profile) { %>
        <div class="card">
            <img class="card-img-top" src="<%= profile.pictureUrl %>">
            <div class="card-body">
                <h5 class="card-title"><%= profile.firstName %> <%= profile.lastName %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= profile.status %></h6>
                <a href="mailto:<%= profile.email %>" class="card-link"><%= profile.email %></a>
                <p>
                    <a href="/users/<%= profile._id %>" class="card-link">Show profile</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</main>
<% include ../partials/footer %>
