<% include ../partials/head %>
<% include ../partials/nav %>
<main>
    <%= locals.user %>
    <div class="card">
        <img class="card-img-top" src="<%= user.pictureUrl %>">
        <div class="card-body">
            <h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= user.birthDate.toDateString() %></h6>
            <h6 class="card-subtitle mb-2 text-muted"><%= user.status %></h6>
            <p>
                <a href="/users/<%= user._id %>/update" class="card-link">Update profile</a>
            </p>
        </div>
    </div>
</main>
<% include partials/scripts %>
<% include ../partials/footer %>
