<% include ../partials/head %>
<% include ../partials/nav %>
<main class="container text-center">
    <% include ../partials/flashMessages %>
    <div>
        <h5 class="font-italic"><%= user.status %></h5>
        <% if (user.pictureUrl) { %><img height="120" width="120" src="<%= user.pictureUrl %>" class="rounded-circle"><% } %>
        <h3><%= user.firstName %><%= user.lastName ? ' ' + user.lastName : '' %></h3>
        <% if (user.birthDate) { %><h4>🎂 <%= user.birthDate.toDateString() %></h4><% } %>
        <a class="btn btn-outline-primary btn-lg" href="#">Chat with <%= user.firstName %></a>
    </div>
    </br><a href="/users/<%= user._id %>/update" class="btn btn-outline-secondary">Update profile</a>
</main>
<% include ../partials/scripts %>
<% include ../partials/footer %>
