<% include ../partials/head %>
<% include ../partials/nav %>
<main>
    <div class="card-body">
        <h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= user.status %></h6>
        <a href="mailto:<%= user.email %>" class="card-link"><%= user.email %></a>
    </div>
</main>
<% include ../partials/footer %>