<% include ../partials/head %>
<% include ../partials/nav %>
<% include ../partials/scripts %>
<main>
<h2><%= chat.name %></h2>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul>
                <% messages.forEach(function (message) { %>
                    <li><%= message.content %></li>
                <%  }); %>
            </ul>
        </div>
    </div>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script>
        $( document ).ready(function() {
            var socket = io.connect(':3000');

            $('form').submit(function () {
                console.log(socket);
                var data = {'message':$('#m').val(), 'chatId': '<%= chat._id %>', 'userId': '<%= user._id %>','user': '<%= activeUser.firstName %> <%= activeUser.lastName %>'};
                console.log(data);
                socket.emit('message', data);
                $('#m').val('');
                return false;
            });

            socket.on('server-message', function (msg) {
                $('#messages').append($('<li>').text(msg));
                window.scrollTo(0, document.body.scrollHeight);
            });

            // When the server receives a “message” type signal from the client
            socket.on('chat message', function (data) {
                console.log(data);
                var dt = new Date();
                var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
                console.log('A client is speaking to me! They’re saying: ' + data);
                $('#messages').append($('<li>').text(time + " " + data.user + ": " +  data.message));
                window.scrollTo(0, document.body.scrollHeight);
            });
        });
    </script>
</main>
<% include ../partials/footer %>
