<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
	<main id="browseChats">
		<ul id="chatCards">
            <li class="chatCard">
                <section class="chatName"><%= chat.name %></section>
                <section class="chatCreated"><%= chat.createdAt %></section>                    
                <section class="chatUpdated"><%= chat.updatedAt %></section>                 
            </li>
		<ul>
        <ul id="browseMessages">
            <% messages.forEach(function(message) { %>
				<li class="chatCard">
					<section class="messageContent"><%= message.content %></section>
					<section class="messageMultimedia"><%= message.multimedia %></section>
					<section class="messageCreated"><%= message.createdAt %></section>                    
					<section class="messageUpdated"><%= message.updatedAt %></section>                 
				</li>
			<% }); %>
        </ul>
        <ul class="pages">
            <li class="chat page">
                <div class="chatArea">
                    <ul class="messages"></ul>
                </div>
                <input class="inputMessage" placeholder="Type here..."/>
            </li>
            <li class="login page">
              <div class="form">
                <h3 class="title">What's your nickname?</h3>
                <input class="usernameInput" type="text" maxlength="14" />
              </div>
            </li>
        </ul>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="../../public/javascript/socket.io/socket.io.js"></script>
        <script src="../../public/javascript/main.js"></script>
	</main>
    <nav><% include ../partials/nav %></nav>
	<footer><% include ../partials/footer %></footer>
  </body>
</html>
